.webreview-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.webreview-webreview {
  width: 100%;
  height: 1200px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(247, 247, 247, 1);
}
.webreview-frame {
  gap: 25px;
  top: 191px;
  left: 240px;
  width: 966px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.webreview-frame1 {
  width: 554px;
  height: 1009px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.webreview-svg {
  top: 59px;
  left: 0px;
  width: 554px;
  height: 950px;
  position: absolute;
}
.webreview-text {
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text02 {
  top: 103px;
  left: 28px;
  color: rgba(0, 0, 0, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text03 {
  color: rgba(0, 0, 0, 1);
}
.webreview-text19 {
  color: rgba(187, 16, 16, 1);
}
.webreview-svg1 {
  width: 963px;
  height: 1px;
}
.webreview-frame2 {
  width: 362px;
  height: 1009px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.webreview-text35 {
  left: 23px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-rectangle9 {
  top: 60px;
  left: 21px;
  width: 319px;
  height: 341px;
  position: absolute;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.10000000149011612) ;
}
.webreview-text37 {
  top: 120px;
  left: 44px;
  color: rgba(187, 16, 16, 1);
  width: 266px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.webreview-text39 {
  top: 327px;
  left: 44px;
  color: rgba(0, 117, 255, 1);
  width: 266px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text41 {
  top: 180px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 266px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text43 {
  top: 410px;
  left: 33px;
  color: rgba(154, 154, 154, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text45 {
  top: 288px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text47 {
  top: 74px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 266px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-frame3 {
  gap: 27px;
  top: 340px;
  left: 1251px;
  width: 133px;
  height: 240px;
  display: flex;
  padding: 14px 9px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.webreview-frame1 {
  gap: 15px;
  height: 216px;
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.webreview-text49 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-line2 {
  width: 115px;
  height: 1px;
}
.webreview-text51 {
  color: rgba(0, 117, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text53 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text55 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text57 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-frame4 {
  gap: 214px;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 117px;
  display: flex;
  opacity: 0.90;
  padding: 15px 0;
  overflow: hidden;
  position: absolute;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.949999988079071);
}
.webreview-text59 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Moul;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-frame5 {
  width: 614px;
  height: 29px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.webreview-text61 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text63 {
  left: 173px;
  color: rgba(0, 117, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text65 {
  left: 348px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text67 {
  left: 529px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-frame6 {
  width: 151px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.webreview-text69 {
  color: rgba(157, 157, 157, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-text71 {
  left: 92px;
  color: rgba(157, 157, 157, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans KR;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.webreview-line-stroke {
  width: 1440px;
  height: 1px;
}
